.ipynb_checkpoints/
earthquake-data.csv
pipeline/output/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.lock.info
credentials.json
target/

